    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <meta property="og:title" content="나의 웹페이지 제목" />
    <meta property="og:description" content="이 페이지는 내가 만든 웹페이지의 예시입니다." />
    <meta property="og:image" content="https://example.com/thumbnail.jpg" />
    <meta property="og:url" content="https://raintype.github.io/about/" />
    <meta property="og:type" content="website" />
